.linksection {
    height: 100vh;
    background-image: url('../assets/img/TwoFactorQuizzBack.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #36137b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.linkSearch{
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20vh;
    width: 100%;
    background: transparent;
    font-size:xx-large;
    margin-left: 20px;

    label {
        color: rgb(255, 255, 255);
    }
}


.inputlink {
    width: 95%;
    height: 8vh;
    border: none;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.667);
    margin: 20px 0 10px 20px;
    color: rgba(198, 216, 244, 0.26);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.inputlink:focus {
    background-color: white;
    color: #36137b;
    box-shadow: 0 0 10px rgba(0, 84, 211, 0.5);
    outline: none;
    padding-left: 2px;
}


.inputlink::placeholder {
    padding-left: 5px;
    color: #4118948e;
    font-weight: 500;
    font-size: 14px;
}



.linkButton {
    background: rgba(0, 84, 211, 0.77);
    color: white;
    /* padding: 15px; */
    margin-top: 10px;
    height: 8vh;
    width: 25vh;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.linkButton:active {
    transform: scale(0.95);
}

.linkButton:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.1);
}
