* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage {
    height: (100vh - 60px);
    background-image: url('../assets/img/TwoFactorQuizzBack.png');
    background-size: cover;
    background-position: center;
    /* display: flex;
    flex-direction: column; */
}

.header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
    background: rgb(62, 62, 203);
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    position: absolute;
    width: 20%;
    text-align: center;
    left: 0;
    margin-left: 5%;
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;
    }
}


.headerContainer {
    width: 60%;
    /* align-items: right; */
    /* text-align: center; */
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    /* justify-content: space-evenly; */
}

.headerContainer>a {
    text-decoration: none;
    color: white;
}

.headerItem {
    cursor: pointer;
    /* border: 2px solid rgb(133, 16, 236); */
    /* background-color: rgb(133, 14, 238); */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1); */
    /* width: 150px; */
    border-radius: 10px;
    transition: 200ms ease;
    padding: 5px;
    font-weight: 200;
    margin-right: 20px;
}

.headerItem:hover {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(72, 72, 126);
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.2); */
}

.headerItem:first-child {
    margin-left: auto;
}




.section {
    display: flex;
    gap: 80px;
}

.subsection.text-right {
    text-align: right;
}

.index {
    flex: 1;
}

.footer {
    background-color: rgba(227, 238, 247, 0.71);
    flex-shrink: 0;
    height: 10%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: #36137b;

    hr {
        width: 100%;
    }

}

.subsection h1 {
    font-size: 25px;
}

.subsection h3 {
    font-size: 12px;
}

.subsection a {
    color: #000;
}