.twoFactorQuizz {
    height: 100vh;
    background-image: url('../assets/img/TwoFactorQuizzBack.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #36137b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.searchTwoFactor,
.preferencesContainer {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.searchTwoFactor {
    width: 80%;
    background: transparent;
}

.inputTwoFactor {
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.19);
    margin: 20px 10px 10px 0;
    color: rgba(198, 216, 244, 0.26);
}

.inputTwoFactor::placeholder {
    color: #41189464;
    font-weight: 500;
    font-size: 14px;
}

.preferencesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.factorButton {
    background: rgba(0, 84, 211, 0.77);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;

}

.factorButton:active {
    transform: scale(0.95);
}

.preferences {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.preference {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: #5d4c76;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}

.card {
    background: rgba(161, 156, 179, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    height: 150px;
    margin: 20px;
}